* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}
html {
    scroll-behavior: smooth;
  }

ul {
    list-style-type: none;
  }

body {
    background-color: rgb(39, 39, 39);
}

header {
    display: flex;
    height: 100vh;
}

.hero {
    width: 90%;
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 30%;
    font-size: 7rem;
    position: relative;
    top: -5%;
    font-weight: 400;
}

h1 span.coma{
    color: rgb(4, 255, 213);
    font-size: 12rem;
}

h1 span.i{
    color: rgb(4, 255, 213);
    text-transform: lowercase;
    font-size: 8rem;
    font-weight: 400;
}



nav {
    width: 9%;
    text-orientation: sideways;
    writing-mode: tb-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    position: fixed;
    right: 0;
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
}

nav li {
    display: inline-block;
    margin: 3%;
    transition: all .2s ease-in-out;

}
nav li:hover {
    transform: scale(1.3);
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* ********************************************************* */

.about {
    display: flex;
    padding: 15%;
    justify-content: space-evenly;
}

.about h2 {
    text-orientation: sideways;
    writing-mode: vertical-rl;
    font-size: 4rem;
    color: rgb(255, 0, 106);
    font-weight: bold;
    letter-spacing: 5px;
}

.intro {
    padding-left: 2%;
    width: 70%;
}

.intro p{
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;

    letter-spacing: 1px;
}

.hideme {
    color:rgb(39, 39, 39);
}

/* ********************************************************* */
.title-before {
    display: none;
}

.projects {
    display: flex;
    padding: 8% 15%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}   

.projects h2 {
    text-orientation: sideways;
    writing-mode: vertical-rl;
    font-size: 4rem;
    color: rgb(255, 136, 0);
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
    bottom: -20px;
}

.cards {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 38%;
    margin: 2%;
    padding: 4%;
    transition: all .3s ease-in-out;
    letter-spacing: 1px;
}

.card:hover {
    transform: scale(1.1);
}

.links {
    width: 100%;
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
}

.card h3 {
    text-align: center;
    text-transform: uppercase;
}

.project-link {
    background-color: rgb(21, 158, 135);
    padding: 3% 5%;
    margin: 1%;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    font-size: 0.9rem;
}

.project-link:hover {
    background-color: rgb(55, 184, 162);
    
}

.orange {
    background-color: rgb(158, 21, 85);
}

.orange:hover {
    background-color: rgb(192, 59, 121);
}

.project-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.smallme {
    font-size: 1.1rem;
    color: rgb(255, 136, 0);
}


/* ************************************ */

.contact {
    padding: 15% 17%;
    font-size: 5rem;
    font-weight: 400;
}

.contact a {
    text-decoration: none;
}

.contact a:hover {
    text-decoration: none;
}

.contact span{
    color: rgb(4, 255, 213);
    font-size: 6rem;
    
}

  
/* ************************************ */


@media  (max-width: 1200px) {
    


    h1 {
        margin-left: 25%;
        
    }


}

@media  (max-width: 1000px) {
    

       
    
    h1 {
        margin-left: 20%;
        font-size: 6rem;
    }
    
    
}

@media  (max-width: 800px) {


    body {
        padding-bottom: 9%;
    }

    h1 {
        margin-left: 10%;
        font-size: 4.5rem;
    }
    h1 span.coma{
        font-size: 8rem;
    }
    h1 span.i{
        font-size: 6rem;
    }
    nav {
        width: 100%;
        text-orientation: upright;
        writing-mode: horizontal-tb;
        margin: 0;
        position: fixed;
        top: 0;
        height: initial;
        justify-content: space-evenly;
        padding: 3%;
        background-color: rgb(39, 39, 39);;
    }
    nav li {
        font-size: .94rem;
        position: relative;
        left: -11%;

    }

    .cards {
        /* padding: 0; */
        /* border: 1px solid red; */
        width: 100%;
    }

    .card {
        width: 100%;
        margin: 9% 0;
        padding: 7%;
        
    }

    .projects {
        padding: 9%;
    }

    .card:first-of-type {
        margin-top: 22%;
    }

    .title-before { 
        display: block;
        text-orientation: upright !important;
        writing-mode: horizontal-tb !important;
    }

    .title-after {display: none;}

    .projects {
        border: 1px solid blue;
    }


}

@media  (max-width: 700px) {


    body {
        padding-bottom: 9%;
    }

    h1 {
        font-size: 4rem;
    }
    h1 span.coma{
        font-size: 7rem;
    }
    h1 span.i{
        font-size: 5rem;
    }
    nav {
        width: 100%;
        text-orientation: upright;
        writing-mode: horizontal-tb;
        margin: 0;
        position: fixed;
        top: 0;
        height: initial;
        justify-content: space-evenly;
        padding: 3%;
        background-color: rgb(39, 39, 39);;
    }
    nav li {
        font-size: .8rem;
        position: relative;
        left: -11%;

    }

    .cards {
        
        width: 100%;
    }

    .card {
        width: 100%;
        margin: 9% auto;
        padding: 7%;
        
    }

    .projects {
        border: 1px solid blue;
    }




}