* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
  }

body {
    background-color: rgb(39, 39, 39);
}



header {
    border: 1px solid white;
    display: flex;
    /* flex-wrap: wrap; */
    height: 100vh;
}

.hero {
    width: 80%;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
}

h1 {
    margin-left: 20%;
    font-size: 3rem;
}

nav {
    border: 1px solid white;
    width: 20%;
    
}

nav a {
    color: white
}

